/* Full-page background */
body {
  background-image: url('../img/Leonardo_Phoenix_A.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  margin: 0; 
}

/* Container for the game page */
.container {
  max-width: 600px; 
  margin: auto;
  padding: 20px; 
  background: rgba(255, 255, 255, 0.8); 
  border-radius: 10px; 
}

/* Heading styling */
h2 {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-bottom: 20px;
}

/* Question section styling */
.question-section {
  margin-bottom: 20px;
}

/* Image styling */
img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
}

/* Answer section styling */
.answer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input styling */
input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 2px solid #007bff;
  border-radius: 5px;
}

/* Button styling */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Paragraph styling */
p {
  font-family: 'Verdana', sans-serif;
  font-size: 18px;
  color: #666;
}

/* Timer styling */
.timer {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #343a40;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}

.timer h4 {
  margin: 0;
}

.time-up {
  background-color: red;
}

/* Blinking effect */
@keyframes blink-animation {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-animation 1s ease-in-out 5;
}

/* Replay button styling */
.replay-button {
  align-items: center; 
  justify-content: center; 
  margin-top: 20px;
  padding: 12px 20px; 
  background-color: #28a745; 
  color: white;
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.replay-button:hover {
  background-color: #218838; 
  transform: translateY(-2px); 
}

.replay-button i {
  margin-right: 8px; 
}
